<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!contactForm.valid">Save</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input
                type="text"
                id="name"
                formControlName="name"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="address">Address</label>
              <input
                type="text"
                id="address"
                formControlName="address"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="email">E-mail</label>
              <input
                type="text"
                id="email"
                formControlName="email"
                pattern="[^ @]*@[^ @]*"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
            <p style="color:red;" *ngIf="errorMessage">{{errorMessage}}</p>  
              <label for="phone">Phone</label>
              <input
              (keypress)="showErrorIfNotANumber($event)"
                type="text"
                id="phone"
                formControlName="phone"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="city">City</label>
              <input
                type="text"
                id="city"
                formControlName="city"
                class="form-control"
                >
            </div>
          </div>
        </div>
       
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="state">State</label>
              <input
                type="text"
                id="state"
                class="form-control"
                formControlName="state"
                rows="6">
            </div>
          </div>
        </div>
        
      </form>
    </div>
  </div>
  