<div class="row">
  <div class="col-xs-12">
    <img
      [src]="contact.imagePath"
      alt="{{ contact.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ contact.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary" style="cursor: pointer; margin-right:7px;" (click)="onEditRecipe()">
        Edit Contacts
      </button>
      <button
      type="button"
      class="btn btn-danger" style="cursor: pointer; margin-right:7px;" (click)="onDeleteRecipe()">
      Delete Contacts
    </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Contact</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <strong>Address:</strong> {{ contact.address }}
    <br>
    <strong>Email:</strong> {{ contact.email }}
    <br>
    <strong>Phone:</strong> {{ contact.phone }}
    <br>
    <strong>Description:</strong> {{ contact.description }}
  </div>
</div>
